/backend/uploads
/backend/chroma_db
/backend/.env
/backend/.flaskenv
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Flask instance folder
instance/
.webassets-cache

# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# dotenv
.env
.env.*

# SQLite database
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# dependencies
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage/

# production
/frontend/build/

# misc
/frontend.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
